.box {
    display: flex;
}

.one, .two, .three, .four, .five, .six {
    width: 60px;
    height: 60px;
    background: #ffaa00;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
}
.one{
    box-shadow: #464646 7px 7px 1px 1px;
}
.two {
    box-shadow: #464646 7px 7px 3px 1px;
}

.three {
    box-shadow: #464646 10px 10px 3px 3px;
}

.four {
    box-shadow: #9e9e9e 7px 7px 3px 1px;
}

.five {
    box-shadow: #464646 7px 7px 3px 1px;
    border-radius: 3px;
}

.six {
    box-shadow: #9e9e9e 7px 7px 3px 1px;
    border-radius: 3px;
}